Repository shawn2016/react-redux-webpack-router: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax=less, stylelint --syntax=sass

stylelint
  .lintstagedrc
  src/modules/home/home/style/index.scss
Due: stylelint --syntax=sass

stylelint
  .lintstagedrc
  src/modules/home/home/style/demo.less
Due: stylelint --syntax=less

stylelint
  .lintstagedrc
  .stylelintrc
  src/modules/home/home/style/demo.less
Due: stylelint --syntax=less

test
  .stylelintrc
Due: none

postcss
  .lintstagedrc
  .stylelintignore
  README.md
  build/webpack.config.dev.babel.js
  package.json
  src/assets/css/scss/main.scss
  src/assets/images/facebook.png
  src/assets/images/twitter.png
  src/assets/minimage/_sprites.scss
  src/assets/minimage/sprites.png
  src/modules/home/home/component/demo1.js
  src/modules/home/home/index.js
  src/modules/home/home/style/demo.less
  src/modules/home/home/style/index.scss
  src/modules/home/home/style/test.css
Due: prettier --write, eslint, stylelint --syntax=less, stylelint --syntax=sass

88
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  package.json
  src/app.js
  src/assets/css/scss/base/_demo.scss
  src/config/dev.env.js
  src/config/prod.env.js
  src/config/test.env.js
  src/modules/common/routerPage/index.js
  src/modules/home/dashboard/index.js
  src/modules/home/home/component/demo1.js
  src/modules/home/home/component/demo2.js
  src/modules/home/home/index.js
  src/modules/home/home/redux/action.js
  src/modules/home/home/redux/constants.js
  src/modules/home/home/redux/reducer.js
  src/modules/home/router.js
  src/modules/login/login/index.js
  src/modules/router.js
  src/reduxes/constants/index.js
  src/reduxes/middleware/index.js
  src/reduxes/reducers/api.js
  src/reduxes/reducers/index.js
  src/reduxes/store/index.js
  src/routers/index.js
  src/test.js
  src/utils/AsyncComponent.js
  src/utils/bodyParse.js
  src/utils/callApi.js
  src/utils/fetchApi.js
  src/utils/index.js
Due: prettier --write, eslint, stylelint --syntax=sass

修订
  assets/0.js
  assets/1.js
  assets/3.js
  assets/3.js.gz
  assets/4.js
  assets/main.js
  assets/vendor.js
  assets/vendor.js.gz
  build/webpack.config.dev.babel.js
  build/webpack.config.prod.babel.js
  build/webpack.config.server.babel.js
  package.json
  postcss.config.js
  server/SSR/assets/imgs/f3f578a0c34c2ad28335c83860f114ba.svg
  server/SSR/assets/styles.13b7e71ffc835821b678.css
  server/SSR/assets/styles.2e05da32e28cebb998a3.css
  server/SSR/assets/styles.d61b1234aff994151581.css
  server/SSR/src/server.js
  src/app.js
  src/assets/css/scss/base/_demo.scss
  src/assets/images/minimage/_sprites.scss
  src/assets/images/minimage/sprites.png
  src/assets/styles/css/scss/base/_demo.scss
  src/assets/styles/css/scss/main.scss
  src/modules/home/home/component/demo1.js
  src/modules/home/home/component/demo2.js
  src/modules/home/home/index.js
  src/modules/home/home/style/demo.less
  src/modules/home/home/style/index.scss
  src/modules/home/home/style/test.css
  src/modules/login/login/index.js
  src/test.js
  src/utils/filterCommon.js
Due: prettier --write, eslint, stylelint --syntax=less, stylelint --syntax=sass

Path conditions:
  prettier --write: any of: *.{js,css}
  eslint: any of: *.{js,css}
  stylelint --syntax=less: any of: *.less
  stylelint --syntax=sass: any of: *.scss
